src/main/mule/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<http:request-config name="HTTP_Request_ServiceNow" doc:name="HTTP Request configuration" doc:id="62d9b8c2-e0f6-47fc-a86c-5ab45d92d4f7" >
		<http:request-connection protocol="HTTPS" host="dev25750.service-now.com" />
	</http:request-config>
	<flow name="livenessCheck" doc:id="7f447231-c562-47f4-af7b-02ede9fe167d" >
			<http:listener doc:name="Listener" doc:id="62347942-205c-433c-830c-dd7053eb3d04" config-ref="HTTP_Listener_config" path="/alive">
				<http:response statusCode="200" />
				<http:error-response statusCode="500" >
					<http:body ><![CDATA[#[DOWN]]]></http:body>
				</http:error-response>
			</http:listener>
			<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "status": "OK",&#10;    "apiName": p("api.name") default "",&#10;	"apiVersion": p("api.version") default ""&#10;}]' doc:name="Set Payload" doc:id="f2bbebea-019a-422f-9fcd-74d406d27228" />
		</flow>
		<flow name="readinessCheck">
			<http:listener config-ref="HTTP_Listener_config" path="/ready">
			<http:response statusCode="200" />
			<http:error-response statusCode="500">
			<http:body><![CDATA[DOWN]]></http:body>
			</http:error-response>
			</http:listener>
			<flow-ref name="check-dependencies" doc:id="1c1ecb30-2b18-4aa0-ab4c-f23e4459eeac" doc:name="check-dependencies"/>
		<ee:transform doc:name="Map Response" doc:id="15e62268-27be-4f0b-b8cc-3053b70e97a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
fun getDependencyStatus(dependencyResponse) = if(sizeOf(dependencyResponse.status find "UP") == sizeOf(dependencyResponse))
    "OK"
else if (sizeOf(dependencyResponse.status find "DOWN") == sizeOf(dependencyResponse))
    "OFFLINE"
else
    "DEGRADED"

output application/json
---
{
    "status": getDependencyStatus(vars.dependencyList),
    "apiName": p("api.name") default "",
	"apiVersion": p("api.version") default "",
    "dependencies": vars.dependencyList map (
        {
            "name": $.name,
            "status": $.status
        }
    )
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="200" doc:name="Set httpStatus to 200" doc:id="739b9499-36f2-4aeb-aa52-9f8489e10597" variableName="httpStatus"/>
		</flow>
		<sub-flow name="check-dependencies" doc:id="07065fcd-48ee-4db1-9e03-00bddd82b073" >
		<flow-ref doc:name="check dependency DB" doc:id="9979e6a3-16c2-47f2-bf08-3fab36b1d7c1" name="check-dependency-db" />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[&#10;	vars.dependencyDB&#10;]]" doc:name="dependencyList" doc:id="bd81e9a7-8e2e-4d09-84d2-6617a227e390" variableName="dependencyList"/>
	</sub-flow>
		
		<sub-flow name="check-dependency-db" doc:id="0870ebbc-89f9-439b-a4b5-0106c0b340d0">
		<try doc:name="Try" doc:id="914b584d-58c3-4c02-aa6c-f8a55132ee57" >
			<db:select doc:name="Select" doc:id="c9cd8a9d-f191-45f5-95db-e0277bb8127d" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM inventory WHERE inventory_id = 1]]></db:sql>
		</db:select>
			<choice doc:name="Check Select query returns data" doc:id="86622694-6543-4475-b14f-aba528285b32">
			<when expression="#[sizeOf(payload) == 0]">
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	name: "Database",&#10;	status: "DOWN"&#10;}]' doc:name="dependencyDB" doc:id="ff33451f-a02e-41eb-8c70-976ab3d29734" variableName="dependencyDB" />
			</when>
			<otherwise>
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	name: "Database",&#10;	status: "UP"&#10;}]' doc:name="dependencyDB" doc:id="21f15ce3-2904-494e-bd51-df31627dad79" variableName="dependencyDB" />
			</otherwise>
		</choice>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="95702fe9-6f41-4b59-a5e5-3f4a8e837584" >
					<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	name: "Database",&#10;	status: "DOWN"&#10;}]' doc:name="dependencyDB" doc:id="dec6c615-6c3a-4323-abd1-114ea4565c4c" variableName="dependencyDB"/>
				</on-error-continue>
			</error-handler>
		</try>
		</sub-flow>


</mule>
